body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

#debug {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6000;
}

.card {
  background: url(../img/pattern.png);
  padding: 20px;
}

h2 {
  text-align: center;
}

.parallax {
  perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax-group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.parallax-front {
  transform: translateZ(0);
}

.parallax-back {
  transform: translateZ(-300px) scale(2);
}

.parallax-half {
  width: 50%;
}

.parallax-central {
  transform: translateZ(-300px);
}

.parallax-side-right {
  transform: translateZ(-900px);
  width: 100%;
  margin: 0 auto;
  right: -300%;
}

.parallax-side-left {
  transform: translateZ(-900px);
  width: 100%;
  margin: 0 auto;
  left: -300%;
}

.parallax-right {
  margin: 0 auto;
  right: -50%;
}

.parallax-left {
  right: 25%;
  margin: 0 auto;
}

.parallax-left:hover {
  transform: rotateY(1deg) translateX(5px);
}

.parallax-right:hover {
  transform: rotateY(-1deg) translateX(-10px);
}

.parallax-deep {
  transform: translateZ(-600px) scale(3);
}

#section1 {
  z-index: 0;
}

#name-and-pic::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/rocco.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
}

#section1 #name-and-pic {
  color: #fff;
  z-index: 1;
}

#introduction {
  /* background-color: rgba(0,139,139,0.3); */
  color: white;
}

#section2,
#section2left {
  background-color: transparent;
  z-index: 5;
}
#section3,
#section3left,
#section3right {
  background-color: transparent;
  z-index: 4;
}

#section4 {
  z-index: 3;
}

#section4 .parallax-deep {
  background-color: chocolate;
}

.card {
  margin: 20px;
  background-color: white;
  border: solid 1px #aaa;
  transition: box-shadow 0.5s, margin 1s, border-radius 2s, transform 3s;
}

.card {
  box-shadow: #666 10px 10px 40px;
}

.card:hover {
  margin-top: -10px;
  box-shadow: #666 5px 5px 20px;
  border-radius: 8px;
}

.personal-details {
  width: 300px;
  min-height: 200px;
  top: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  color: #000;
  right: 0px;
  /* font-family: monospace; */
  font-size: 150%;
  margin: 20px;
  box-shadow: #666 10px 10px 40px;
  background-color: white;
  border: solid 1px #aaa;
  transition: box-shadow 0.5s, margin 1s, border-radius 2s, transform 0.5s;
}

.personal-details:hover {
  box-shadow: #666 -10px 10px 20px;
  border-radius: 8px;
  transform: rotateY(180deg);
}

.address {
  text-align: center;
}

.personal-details .back {
  opacity: 0;
  transition: opacity 0s;
  position: absolute;
  width: 100%;
  padding-left: 20px;
  font-size: smaller;
}

.personal-details:hover .back {
  opacity: 1;
  top: 50%;
  transform: rotateY(180deg) translateY(-50%);
  transition: opacity 2s;
}

.personal-details .front {
  transition: opacity 2s;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.personal-details:hover .front {
  opacity: 0;
  transition: opacity 0s;
}

.icon-school {
  -webkit-mask-image: url(../img/school.svg);
  -webkit-mask-size: 100%;
  mask-image: url(../img/school.svg);
  mask-size: 100%;
}

.icon-languages {
  -webkit-mask-image: url(../img/languages.svg);
  -webkit-mask-size: 100%;
  mask-image: url(../img/languages.svg);
  mask-size: 100%;
}

.icon-skills {
  -webkit-mask-image: url(../img/skills.svg);
  -webkit-mask-size: 100%;
  mask-image: url(../img/skills.svg);
  mask-size: 100%;
}

.icon-work {
  -webkit-mask-image: url(../img/work.svg);
  -webkit-mask-size: 100%;
  mask-image: url(../img/work.svg);
  mask-size: 100%;
}

.icon-profile {
  -webkit-mask-image: url(../img/profile.svg);
  -webkit-mask-size: 100%;
  mask-image: url(../img/profile.svg);
  mask-size: 100%;
}

.icon-projects {
  -webkit-mask-image: url(../img/projects.svg);
  -webkit-mask-size: 100%;
  mask-image: url(../img/projects.svg);
  mask-size: 100%;
}

.icon {
  width: 100px;
  height: 100px;
  background-color: #fff;
  margin: 20px auto;
  display: block;
}

.card .icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-130%);
  background-color: #666;
  margin: 0;
}

.content {
    padding: 20px;
}

#section5 {
  background-color: darkolivegreen;
  z-index: 7000;
}

/* nav  by https://codepen.io/ahse/pen/RWogZZ */

nav {
  background: #232323;
  color: #cdcdcd;
}

a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

#menuToggle {
  display: block;
  position: relative;
  top: 30px;
  left: 30px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #000;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  height: 100vh;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

nav {
  height: 0px;
}
